/* ====================================================
MIXINS
======================================================= */

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}


/* ====================================================
VARIABLES
======================================================= */

$orange-color: #EA5455;
$blue-color: #2D4059;
$offwhite-color: #FDE9C9;
$courier: "courier-prime",monospace;
$brandon: "brandon-grotesque",sans-serif;

/* ====================================================
AUTHOR STYLES
======================================================= */

.section {
	width: 100vw;
	height: 100vh;
	position: relative;
	max-height: 100vh;
	-webkit-perspective: 1000;
		    perspective: 1000;
}

.centered-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}



.img-responsive {
	width: 100%;
}



/* == Main section == */

#main-logo {
	max-width: 200px;
}

#home {
	text-align: center;
	background: $blue-color;
	
	h1{
		@include responsive-font(8vw,30px);
		color: #fff;
		font-family: $brandon;
		text-transform: uppercase;
		margin: 50px 0 0 0;
		letter-spacing: 1vw;
	}

	ul {
		@include responsive-font(3vw, 20px);
		margin: auto auto;
		width: 33%;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 0;
		
		
		li {

			margin-top: 24px;
			color: $orange-color;
			font-family: $courier;

			a {
				text-decoration: none;
				line-height: 1.2em;
				color: $orange-color;
			}
		}
	}
}

.orange-slash {
	color: $orange-color;
}

.seperator-dot {
	display: none;
}

/* == Portfolio section == */

#portfolio {
	background: $offwhite-color;
	max-height: 100vh;
	overflow: hidden;
}

.secondary-logo {
	width: 15vh;
}

.img-wrapper {
	max-width: 80vw;
	margin-top: 20vh;
	
	
	img {
		width: 100%;
	}
}


.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3%;
}

#previous {
	position: absolute;
	left: 0;
	top: 50%;
}

/* ====================================================
MEDIA QUERIES
======================================================= */

@media screen and (min-width: 768px) {
	#home {
		
		ul {
			flex-direction: row;
		}

	}

	.seperator-dot {
		display: inline-block;
	}
	
	.img-wrapper {
		width: 60vw;
		margin-top: 0;
	}

}



