/* ====================================================
MIXINS
======================================================= */

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}


/* ====================================================
VARIABLES
======================================================= */

$orange-color: #EA5455;
$blue-color: #2D4059;
$offwhite-color: #FDE9C9;
$courier: "courier-prime",monospace;
$brandon: "brandon-grotesque",sans-serif;

/* ====================================================
AUTHOR STYLES
======================================================= */



/* ====================================================
NAVIGATION
======================================================= */





/* ====================================================
CANVAS
======================================================= */

canvas{ display: block; vertical-align: bottom; }
#particles-js { 
  position:relative; 
  width: 100vw; 
  height: 100vh; 
  background: linear-gradient(302deg, #9bc1bc, #5ca4a9); /*#F4F1BB*/

}


.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
  color: #5CA4A9;
  width: 70vw;
}

#main-logo {
  width: 200px;
  opacity: 1.0;
  display: block;
  margin: 0 auto;
}



.main-title {
  color: #E6EBE0;
  text-transform: uppercase;
  text-align: center;
  font-family: $brandon;
  letter-spacing: 3px; 
  @include responsive-font(3vw, 10px);
}

.orange-slash {
  color: #ED6A5A;
}


/* ====================================================
Project Gallery
======================================================= */

.project-gallery {
	width: 100vw;
	height: 100vh;
	position: relative;
}

#portfolio01 {
  background: #F4F1BB;
}

#portfolio02 {
  background: $blue-color;
}

.project-box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
	width: 80%;
	height: 80%;
	background:url("../img/project-1.jpg") no-repeat center;
	background-size: cover;
	position: absolute;
	display: table;
  -webkit-box-shadow: 10px 10px 75px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 75px 0px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 75px 0px rgba(0,0,0,0.39);
	
}


.section-title {
	position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    
    h2 {
    	text-align: center;
    	text-transform: uppercase;
    	font-family: $courier; 
    }
}


.more-info-btn {
  position: absolute;
  color: #fff;
  font-size: 2em;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  background: $orange-color;
  
  i {
    padding: 12px 15px;
    text-align: center;
  }
}

.scrollmagic-pin-spacer {
  position: absolute !important;
  clip: rect(auto, auto, auto, auto);
}

/* ====================================================
MEDIA QUERIES
======================================================= */

@media screen and (min-width: 768px) {

  .project-box {
    transform: translate(-50%, -50%);
  }

	.section-title {
		top: 50%;
		transform: rotate(-90deg) translateY(-50%);
		left: 0vh;
	}
}



